# Dependencies
node_modules/
vendor/

# Environment
.env
.env.local

# Caches
.eslintcache
.stylelintcache
node_modules/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/storage/logs/*.log

# Build
dist/
public/build/

# VS Code / OS
.vscode/
.DS_Store
Thumbs.db
